
@model Login
@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/Login.css"/>

<h1>Tela de Login</h1>




<form method="post" enctype="multipart/form-data>
    <div class="form-group">
        <div class="col-md-4">
            <label>Usuario</label>
            <input asp-for="Usuario" type="text" id="user" class="d-block"/>
        </div>
        <div class="form-group">
            <label>Senha</label>
            <input asp-for="Senha" type="password" id="password" class="d-block"/>
            <p></p>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px" id="botao">Login</button>
    </div>
</form>

@section Scripts{
    <script>
var viewbag = '@ViewBag.mensagem';
$( document ).ready(function() {
    $('<span class="error" id="senharerror">'+ viewbag +'</span>').insertAfter("#password")
});

$("#botao").on("click",function(e) {

    e.preventDefault();
    var valid = 0;

    $(".error").remove();
    if ($("#user").val() == "") {
        $('<span class="error" id="usererror">Usuario vazio, preencha um usuario</span>').insertAfter("#user")
        $("#user").focus();
        valid = 1;
        return;
    }
    $("#usererror").remove();
    if ($("#password").val() == "") {
        $('<span class="error" id="senharerror">Senha não pode ser vazia</span>').insertAfter("#password")
        $("#password").focus();
        valid = 1;
        return;
    }

    if (valid == 0) {
        $(this).unbind('submit').submit()
        $("form").submit();
    }

});


</script>
}



<!--<form method="post">
    <div class="mb-3">
        <label asp-for="Usuario">Usuario</label>
        <input asp-for="Usuario" class="form-control" />
        <span asp-validation-for="Usuario" class="text-danger"></span>
    </div>  
    <div class="mb-3">
        <label asp-for="Senha">Senha</label>
        <input asp-for="Senha" class="form-control" type="password"/>
        <span asp-validation-for="Senha" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary" style="width:150px">Login</button>
</form>-->